<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>proximityUUID</key>
	<string>e2c56db5-dffb-48d2-b060-d0f5a71096e0</string>
	<key>entryText</key>
	<string>Welcome to Bleu!</string>
	<key>exitText</key>
	<string>Come again soon!</string>
	<key>defaultURL</key>
	<string>http://www.twocanoes.com/bleu</string>
	<key>URLs</key>
	<dict>
		<key>1</key>
		<dict>
			<key>2</key>
			<array>
				<string>https://dl.dropboxusercontent.com/u/108837852/bleusample/realm.html</string>
				<string>https://dl.dropboxusercontent.com/u/108837852/bleusample/region1/region.html</string>
				<string>https://dl.dropboxusercontent.com/u/108837852/bleusample/region1/react1.html</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
